---
const {title, description, tech, liveLink, repoLink, image} = Astro.props;
---

<div class="project-card">
    <h2>{title}</h2>
    <p>{description}</p>
    <p><strong>Tech: </strong>{tech.join(", ")}</p>
    <a href={liveLink} target="_blank">Live Demo</a>
    <a href={repoLink} target="_blank">GitHub Repo</a>
    <img src={image} alt={title}>
</div>